<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rcl.excalibur">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".RCLApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home"/>
        <activity
            android:name=".activity.PlanListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home"/>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:label="@string/empty_string"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.TriptychHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.guest.NameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.guest.EmailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.guest.PasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.guest.SecurityQuestionsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.guest.AnswerQuestionActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.guest.CreateAccountDoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home"/>

        <activity
            android:name=".activity.ProductDeckMapActivity"
            android:label="@string/empty_string"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="testDB.db"/>

        <meta-data
            android:name="AA_MODELS"
            android:value="com.rcl.excalibur.data.entity.DiscoverItemEntity,
                    com.rcl.excalibur.data.entity.AdvisementEntity,
                    com.rcl.excalibur.data.entity.CategoryEntity,
                    com.rcl.excalibur.data.entity.CostTypeEntity,
                    com.rcl.excalibur.data.entity.DurationEntity,
                    com.rcl.excalibur.data.entity.LocationEntity,
                    com.rcl.excalibur.data.entity.MediaEntity,
                    com.rcl.excalibur.data.entity.MediaValueEntity,
                    com.rcl.excalibur.data.entity.PreferenceEntity,
                    com.rcl.excalibur.data.entity.PreferenceValueEntity,
                    com.rcl.excalibur.data.entity.ProductEntity,
                    com.rcl.excalibur.data.entity.PromotionEntity,
                    com.rcl.excalibur.data.entity.RestrictionEntity,
                    com.rcl.excalibur.data.entity.StartingFromPriceEntity,
                    com.rcl.excalibur.data.entity.TypeEntity,
                    com.rcl.excalibur.data.entity.ActivityLevelEntity,
                    com.rcl.excalibur.data.entity.PriceEntity,
                    com.rcl.excalibur.data.entity.OfferingEntity"/>
    </application>

</manifest>